@import '../variables.scss';
@import '../mixin.scss';

// 프로필
.profile_container {
  width: 100%;
  background: rgb(255,255,255,.1);
  padding: 110px 0 40px;
  box-sizing: border-box;
  
  .profile_wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left_sec {
        display: flex;
        flex-direction: row;
        gap: 20px;
      .thum {
        width: 130px;
        height: 130px;
        background: $primary;
        align-self: center;
        border-radius: 10px;
      }
      p {
        align-self: flex-end;
        span{font-size: 2.3em; font-weight: bold;}
      }
    }

    .right_sec {
      .setting {
        align-self: flex-start;
      }
    }
  }
}

// 찜 목록
.liked {
  width: 80%;
  max-width: 1000px;
  display: grid;
  margin: 5em auto;
  grid-template-columns: repeat(auto-fill, minmax(15%, auto));
  gap: 2em;
  box-sizing: border-box;
  > .row_item {
    position:relative;
    cursor: pointer;
    border-radius: 0.3rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    button{
      background: transparent;
      border:none;
      position:absolute;
      top:0;
      right: 0;
      padding: .2rem;
    }
  }
}
.no_liked {
  margin: 10em auto;
  padding: 10em;
  text-align: center;
}

@include mobile{
  .profile_container{
    padding: 100px 20px 30px;
    .profile_wrap {
      .left_sec {
        .thum {
          width: 90px;
          height: 90px;
          img{ width: 90px; height:90px;}
        }
        p {
          span{font-size: 1.4rem; }
        }
      }
  
      .right_sec {
        .setting {
        }
      }
    }
  }
  .liked {
    width: 100%;
    margin: 2em auto;
    padding: 0 20px;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  }
}

@include tablet{
  .profile_container{
    padding: 100px 20px 30px;
  }
  .liked {
    width: 100%;
    margin: 4em auto;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(15%, auto));
  }
}