.videos_container {
  max-width: 1000px;
  margin: 7em auto;
  padding:0 20px; 

  .videos_wrap {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: calc(9 / 16 * 100%);
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
