@font-face {
    font-family: 'LINESeedKR';
    font-weight: light;
    src: url('/public/font/LINESeedKR-Th.woff2');
}
@font-face {
    font-family: 'LINESeedKR';
    font-weight: normal;
    src: url('/public/font/LINESeedKR-Rg.woff2');
}
@font-face {
    font-family: 'LINESeedKR';
    font-weight: bold;
    src: url('/public/font/LINESeedKR-Bd.woff2');
}

html,body,#root{
    font-family: 'LINESeedKR';
    letter-spacing: .08em;
    line-height: 1.25em;
}