$breakpoint-mobile: 335px;
$breakpoint-tablet: 650px;
$breakpoint-desktop: 1024px;

//font
$dgrey:rgba(255, 255, 255, 0.2); 
$grey: rgba(255, 255, 255, 0.7);
$black : #000;
$white : #fff;
$primary: #FE153C;