@import '../variables.scss';
@import '../mixin.scss';
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  box-sizing: border-box;
  z-index: 10;
  transition: all 0.3s;
  box-sizing: border-box;

  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
  }
  h1 {
    color: $primary;
    font-size: 40px;
    font-weight: 800;
  }
  .right_header {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    flex-shrink: 0;
    input {
      background: $dgrey;
      color: $white;
      border-radius: 100px;
      border: none;
      box-sizing: border-box;
    }
    .profile_state {
      background: $primary;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: 800;
      border-radius: 7px;
    }
    .login_state{
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
    }
  }
}
.show {
  backdrop-filter: blur(10px);
  background: transparent;
}
