@import '../variables.scss';
@import '../mixin.scss';
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 1rem;
  background: transparent;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  box-sizing: border-box;
  z-index: 10;
  transition: all 0.3s;
  box-sizing: border-box;

  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
  }
  h1 {
    color: $primary;
    font-weight: bold;
    a{
      display: block;
      height: 30px;
      img {
        width: 100%;
        vertical-align: bottom;
      }
    }
    
  }
  .right_header {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    flex-shrink: 0;
    min-width: 0;
    div.input {
      position: relative;
      border-radius: 100px;
      
      input {
        max-width: 140px;
        height: 40px;
        min-width: 0;
        background: $dgrey;
        color: $white;
        padding: 0 0.5rem;
        border-radius: 100px;
        border: none;
        box-sizing: border-box;
        font-size: 1rem;
      }
      svg {
        position: absolute;
        right: .5rem;
        top: 47%;
        transform: translateY(-50%);
      }
    }

    .profile_state {
      background: $primary;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: bold;
      border-radius: 7px;
    }
    .login_state {
      width: 40px;
      height: 40px;
      line-height: 40px;
      color:#fff;
    }
  }
}
.show {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  //background: rgb(0,0,0,.5);
}
