@import "../mixin.scss";

.top_btn {
  position: fixed;
  bottom: 5vw;
  right: 3vw;
  width: 40px;
  height: 40px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  z-index: 900;
  cursor: pointer;
}
