@import "../mixin.scss";

.top_btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  z-index: 900;
  cursor: pointer;
}
