@import "../variables.scss";
@import "../mixin.scss";
.login_container {
  max-width: 450px;
  width: 100%;
  margin: 10em auto;
  padding: 50px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-sizing: border-box;
  h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    input {
      width: 100%;
      padding: 1.7rem;
      font-size: 1rem;
      box-sizing: border-box;
      border: none;
      border-radius: 0.2rem;
      background: rgb(255, 255, 255, 0.3);
    }
    button {
      width: 100%;
      padding: 1.4rem;
      font-size: 1.2rem;
      box-sizing: border-box;
    }
  }
  .auth_wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    ul {
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      li {
        color: $grey;
      }
    }
    p {
      color: $grey;
      span {
        display: inline-block;
        margin-left: 10px;
        color: $white;
      }
    }
  }
}

@include mobile {
  .login_container {
    h2 {
    }
    form {
      input {
        width: 90%;
        padding: 1rem;
      }
      button {
        width: 90%;
        padding: 1rem;
        font-size: 15px;
      }
    }
    .auth_wrap {
      font-size: 13px;
    }
  }
}
